table {
    margin-right: auto;
    margin-left: auto;
}

.border {
    border-right: 2px solid black;
    padding: 20px;
}

.border2 {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

.v {
    border: 1px solid gray;
    height: 350px;
}

.v1 {
    padding-right: 20px;
}

.v2 {
    padding-left: 20px;
}

.bottom {
    position: absolute;
    bottom: 20px;
    text-align: center;
    right: 0;
    left: 0;
}

.btn {
    width: 70px;
    padding: 5px;
    height: 50px;
}